@import url("https://fonts.googleapis.com/css2?family=Sen:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:wght@600;700&display=swap");
body {
  background-color: #f9fafc !important;
}
.companyDashboardWrapper {
  display: flex;
}
a {
  text-decoration: none !important;
  color: #222;
}
.sideNav {
  width: 240px;
  background-color: white;
  border-right: 1px solid #dee2e6;
  min-height: 100vh;
  padding-left: 10px;
  transition: 0.2s ease-in-out;
  position: absolute;
  z-index: 99999;
}
.sideNavInActive {
  width: 0px;
  transition: 0.2s ease-in-out;
  overflow: hidden;
  padding: 0px;
}
.closeNavBtn{
  padding: 10px;
}
.sideNavItemsShrink {
  /* transform: scale(0); */
}
.sideNavItemsNoShrink {
  display: block;
}
.sideNavTitle {
  font-size: 16px;
  color: #1eb7ff;
  font-weight: 700;
  padding: 20px;
  font-family: "Montserrat";
  letter-spacing: 1px;
}
.sideNavProfileWrapper {
  padding: 10px;
}
.sideNavProfile {
  width: 70px;
  height: 70px;
  border-radius: 100px;
  background-image: url("../assets/profile.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.sideNavProfileTitle {
  font-size: 13px;
  color: #222;
  font-family: "Montserrat";
  margin-top: 10px;
}
.sideNavMenu {
  margin-top: 20px;
  margin-bottom: 20px;
}
.sideNavMenuItem {
  font-size: 13px;
  font-weight: 700;
  font-family: "Inter";
  color: #222;
  letter-spacing: 1px;
  border-right: 2px solid #1eb7ff;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
  transition: 0.1s ease-in-out;
}
.sideNavMenuIcon {
  margin-right: 10px;
  margin-left: 10px;
}
.sideNavMenuItem:hover {
  background-color: #dee2e6;
}
.sideNavBtn {
  color: #222;
  cursor: pointer;
}
.companyDashboardContent {
  width: 100%;
}
.headerContentwrapper {
  width: 100%;
  height: 50px;
  background-color: #fff;
  padding-left: 20px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e6e5e5ab;
}
.headerContentwrapper .row {
  width: 100%;
}
.headerContentwrapper .row .col-sm-9 {
  width: 80%;
}
.headerRightIconsWrapper {
  display: flex;
}
.headerBellIconWrapper {
  position: relative;
  margin-left: 15px;
  margin-right: 15px;
  cursor: pointer;
}
.headerBellIconCount {
  width: 15px;
  height: 15px;
  font-size: 9px;
  color: #fff;
  background-color: #1eb7ff;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 10px;
}
.DashboardMiddleContent {
  margin-top: 50px;
}
.table-responsive {
  overflow: scroll;
}
.companiesTable {
  background-color: #fff !important;
  box-shadow: 1px 1px 10px 0px #cdcdcd;
}
thead {
  border-top-left-radius: 10px !important;
  border-top-right-radius: 10px !important;
  border: 1px solid black
}
thead,
tr,
td,
th,
tbody {
  border: 0px !important;
  border-top: 1px solid transparent !important;
  background-color: transparent !important;
  font-size: 14px;
  color: #1f2d3d !important;
  font-weight: 400;
  text-align: center;
}
.searchIcon {
  text-align: center;
  vertical-align: middle;
}
th {
  font-size: 14px;
  color: #1f2d3d !important;
  font-family: "Montserrat";
  font-weight: 600;
}
.resetBtn {
  font-size: 10px;
  font-weight: 600;
}
.filterInput {
  font-size: 12px;
}
.filterInputRoleWrapper {
  width: 30%;
  height: 40px;
  padding: 10px;
  background-color: white;
  border: 1px solid #cdcdcd;
  border-radius: 5px;
  border-left: 0px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
.filterSearchRoleWrapper {
  margin-bottom: 15px;
  margin-top: 15px;
  display: flex;
  align-items: center;
}
.filterInputRoleIcon {
  width: 1.5%;
  height: 100%;
  padding: 10px;
  background-color: white;
  border: 1px solid #cdcdcd;
  border-radius: 5px;
  padding: 10px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.tableActionsIcon {
  margin-right: 10px;
  cursor: pointer;
  background-color: #cdcdcd;
  padding: 5px;
  border-radius: 100px;
  font-size: 12px;
}
.tableActionsIcon:hover {
  background-color: #222;
  color: #fff;
  transition: 0.3s ease-in-out;
}
.createBranchBtn {
  margin-bottom: 10px;
  font-family: "Montserrat";
}
.createBranchBtn button {
  font-size: 12px;
  font-weight: 600;
}
.createBranchTitle {
  font-size: 20px;
  color: #1f2d3d !important;
  font-family: "Montserrat";
  font-weight: 600;
  margin-left: 15px;
  margin-top: 30px;
  margin-bottom: 20px;
}
