@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:wght@100;300;400;500;600;700;800&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
}
*:focus {
  outline: none;
}
/* Login page  */
.loginBodyWrapper {
  min-height: 100vh;
  background: #fff;
  width: 100%;
}
.authPageBanner {
  width: 100%;
  min-height: 100vh;
  background-image: url("../assets/cover.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.formBodyWrapper {
  width: 100%;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
}
.loginTitle {
  font-family: "Montserrat";
  margin: 10px;
  font-size: 13px;
  position: relative;
  bottom: 50px;
}
.loginTitle span {
  color: #1eb7ff;
  cursor: pointer;
}
.permissionItem {
  padding: 10px;
  background-color: #cdcdcd;
  border-radius: 5px;
  margin-right: 12px;
  font-size: 13px;
  font-family: "Montserrat";
  font-weight: 500;
  position: relative;
}
.permissionItemDelete {
  width: 10px;
  height: 10px;
  background-color: tomato;
  color: white;
  border-radius: 100px;
  position: absolute;
  right: -10px;
  font-size: 28px !important;
  padding: 7px;
  top: -10px;
  z-index: 999999;
  cursor: pointer;
}
.permissionItemDelete:hover {
  color: tomato;
  background-color: white;
}
.permissionItemWrapper {
  align-items: center;
  justify-content: center;
  height: 70px !important;
  display: flex;
}
.formInput {
  width: 60%;
  height: 40px;
  border: 1px solid #cdcdcd;
  border-radius: 6px;
  margin-bottom: 10px;
  align-items: center;
  display: flex;
}
.fieldIconWrapper {
  width: 9%;
  height: 100%;
  border-right: 1px solid #cdcdcd;
  display: flex;
  align-items: center;
  justify-content: center;
}
.fieldIconWrapperEye {
  width: 9%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.formInput input {
  border: 0px;
  background-color: transparent !important;
  font-family: "Montserrat";
  font-size: 14px;
  width: 83%;
  font-weight: 400;
  padding-left: 10px;
}
.passwordField {
  font-size: 15px !important;
}
.emailWrapper {
  margin-top: 20px;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.loginBtn {
  width: 65%;
  height: 35px;
  border: 1px solid #cdcdcd;
  background: #1eb7ff;
  margin-top: 30px;
  text-align: center;
  color: white;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  font-family: "Montserrat";
  font-weight: 600;
  letter-spacing: 1px;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
.loginBtn:hover {
  background-color: white;
  border: 1px solid #cdcdcd;
  color: #222;
}
.hr {
  width: 60%;
  height: 1px;
  background-color: #cdcdcd;
  margin-top: 20px;
}
.loginWithGoogleBtn {
  width: 45vh;
  height: 40px;
  border: 1px solid #cdcdcd;
  background: white;
  margin-top: 10px;
  text-align: center;
  color: #222;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  font-family: "Montserrat";
  font-weight: 600;
  letter-spacing: 1px;
  transition: 0.4s ease-in-out;
  cursor: pointer;
}
.errorMsg {
  font-family: "Montserrat";
  font-size: 14px;
  color: tomato;
}
.formBtnwrapper {
  display: flex;
  width: 90%;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}
.loginLogo {
  width: 200px;
  height: 200px;
  position: relative;
  bottom: 50px;
}
/* Login page  */

/* Signup body wrapper */
.signupBodyWrapper {
  height: 50vh;
}
.passwordConfirmField {
  font-size: 15px;
}
.forgotPassword {
  font-size: 14px;
  text-align: end;
  width: 60%;
  cursor: pointer;
}
.forgotPassword:hover {
  color: #51aaea;
}
/* Auth pages ends here */

/* Dashboard pages starts here */
.createCompanyForm {
  margin-top: 10px !important;
  padding-bottom: 30px;
}
.dashboardBodyWrapper {
  background: #fff;
  width: 100%;
  min-height: 100vh;
  display: flex;
}
.sideNavbarWrapper {
  width: 17%;
  min-height: 100vh;
  background: linear-gradient(to left, #51aaea, #42d6cd);
  padding: 20px;
  position: absolute;
}
/* .openNav {
  -webkit-transform: translate3d(-100%, 0px, 0px);
  transform: translate3d(-70%, 0px, 0px);
  visibility: visible;
  transition: all 0.5s ease 0s;
  -webkit-transition: all 0.5s ease 0s;
}
.closeNav {
  -webkit-transform: translate3d(-100%, 0px, 0px);
  transform: translate3d(0%, 0px, 0px);
  visibility: visible;
  transition: all 0.5s ease 0s;
  -webkit-transition: all 0.5s ease 0s;
} */

.sideNavbarBars {
  text-align: end;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Montserrat";
}
.barsIcon {
  cursor: pointer;
}

.tabs {
  width: 400px;
  height: 40px;
  border-bottom: 1px solid #cdcdcd;
  margin-top: 30px;
  display: flex;
}
.tabsItem {
  width: 50%;
  height: 100%;
  text-align: center;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 15px;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
.tabsItemActive {
  width: 50%;
  height: 100%;
  text-align: center;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 15px;
  border-bottom: 1px solid blue;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
.content {
  width: 90%;
  margin-left: 8%;
}
.tableActionButtons {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.notFoundText {
  font-family: "Montserrat";
  font-size: 15px;
  font-weight: 500;
  margin-top: 10px;
}
.createCompanyBtn {
  margin-top: 20px;
}
.createCompanyTitle {
  font-family: "Montserrat";
  font-size: 20px;
  font-weight: 700;
  padding-top: 20px;
  margin-bottom: 20px;
}
.freeLoader {
  width: 100%;
  height: 100%;
  background-color: #cdcdcd;
  position: absolute;
  z-index: 9999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.8;
}
.companyTable {
  overflow-y: scroll !important;
  height: 83vh !important;
}
.modalBg {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5 ease-in-out;
  animation: modal 0.5s;
  -webkit-animation: fadeIn 0.5s;
  -moz-animation: fadeIn 0.5s;
  -o-animation: fadeIn 0.5s;
  -ms-animation: fadeIn 0.5s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.modalBgLayer {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #222;
  opacity: 0.5;
  z-index: 2;
}
.modalWrapper {
  width: 40%;
  height: 2 00px;
  background-color: white;
  z-index: 3999999;
  border-radius: 10px;
  transition: 0.5 ease-in-out;
}
.modalHeader {
  width: 100%;
  height: 25%;
  border-bottom: 1px solid #cdcdcd;
  display: flex;
  align-items: center;
  padding: 15px;
  font-size: 17px;
  font-weight: 600;
  color: #222;
}
.modalBody {
  width: 100%;
  height: 47%;
  padding: 15px;
}
.modalFooter {
  width: 100%;
  height: 28%;
  border-top: 1px solid #cdcdcd;
  display: flex;
  align-items: center;
  padding: 15px;
  justify-content: end;
}
.modalFooter button {
  margin-right: 10px;
}
.modalBody h3 {
  font-size: 20px;
  color: #67666a;
  margin-bottom: 10px;
  position: relative;
}
.modalBody span {
  font-size: 13px;
  color: #b0abad;
  bottom: 6px;
  position: relative;
  font-weight: 500;
}
.filterBarWrapper {
  margin-top: 15px;
  margin-bottom: 10px;
  padding-left: 5px;
}
.filterBarWrapper .row .col-sm-2 {
  width: 190px;
  padding: 5px;
}
.filterInput {
  width: 100%;
  height: 40px;
  padding: 10px;
  background-color: white;
  border: 1px solid #cdcdcd;
  border-radius: 5px;
}
.emailInput {
  position: relative;
}
.searchBtn {
  background-color: blue;
}
.FilterDropdown {
  width: 96%;
  min-height: 20px;
  background-color: white;
  border-radius: 5px;
  z-index: 1;
  box-shadow: 2px 2px 2px 2px #cdcdcd;
  left: 2%;
  padding-top: 10px;
  flex-direction: column;
  position: absolute;
}
.filterDropDownItem {
  padding: 10px;
  border-bottom: 1px solid #cdcdcd;
  cursor: pointer;
}
.filterDropDownItem:hover {
  background-color: #cdcdcd;
  color: #222;
}
.checkBox {
  display: flex;
}
.roleCheckBox {
  font-size: 13px;
  margin-right: 20px;
  font-family: "Montserrat";
  font-weight: 500;
}
.tablerowActions {
  font-size: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.tablerowActions span {
  padding: 7px 15px;
  background-color: #1eb7ff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
.assignModalWrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 9999;
  align-items: center;
  justify-content: center;
  display: flex;
  transition: 1s ease-in-out;
}
.assignModalLayer {
  width: 100%;
  min-height: 100vh;
  background-color: #222;
  position: absolute;
  opacity: 0.8;
}
.assignModal {
  width: 50%;
  height: 300px;
  z-index: 99999;
  background-color: #51aaea;
  border-radius: 10px;
  box-shadow: 10px 10px 10px 10px solid #cdcdcd;
  overflow: hidden;
  transition: 1s ease-in-out;
}
.assignModalHeader {
  width: 100%;
  height: 30%;
  background-color: #fff;
  display: flex;
  align-items: center;
  padding-left: 20px;
}
.assignModalHeader span{
  color: #222;
  font-weight: 600;
  font-size: 15px;
}
.assignModal .row {
  margin: 0px;
}
.commentBox{
  width: 100%;
  margin-top: 10px;
}
.assignModalBody {
  width: 100%;
  height: 50%;
  background-color: #fff;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.assignModalHeader .col-sm-12 {
  align-items: center;
  display: flex;
  justify-content: end;
}
.assignModalHeader button {
  margin-left: 10px;
  margin-bottom: 30px;
}
.adminDashboardReportWrapper {
  width: 100%;
  height: 150px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 2px 2px 7px 1px #cdcdcd;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.adminDashboardReportWrapper .title {
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1px;
}
.adminDashboardReportWrapper .count {
  font-size: 24px;
  font-weight: 600;
  color: #222;
  letter-spacing: 1px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.adminDashboardReportWrapper .bottomLeftPercentage {
  width: 50px;
  background-color: turquoise;
  font-size: 12px;
  color: #222;
  letter-spacing: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
  padding-left: 3px;
  padding-right: 3px;
  color: #fff;
  font-weight: 600;
  margin-right: 10px;
}
.bottomLeftPercentageWrapper {
  display: flex;
}
.bottomLeftPercentageWrapper span {
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1px;
}
.adminDashboardReportWrapperRight {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}
.adminDashboardReportWrapperRight .chartIcon {
  color: #42d6cd;
  font-size: 70px;
}
.usersTable {
  margin-top: 30px;
}

/* Table Css */
.globalTableBody {
  width: 100%;
  min-height: fit-content;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 3px 3px 10px 1px #cdcdcd;
  margin-bottom: 8%;
  overflow: scroll;
  padding-bottom: 20px;
  max-height: 600px;
}
.globalTableRow {
  width: 100%;
  text-align: center;
}
.globalTableHeader {
  width: 100%;
  height: 11%;
  background-color: #fff;
  padding: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.tableTitle {
  font-size: 16px;
  font-weight: 700;
  color: #222;
  display: flex;
  align-items: center;
}
.tableFilterCol {
  display: flex;
  align-items: center;
}
.filterInput {
  margin-left: 10px;
  height: 33px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.actionDoneBtn {
  margin-left: 10px;
  height: 33px;
  font-size: 13px;
  font-weight: 600;
}
.globalTableColumnHead {
  width: 100%;
  height: 6%;
  background-color: #fff;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.globalTableColumnHead .globalTableRow {
  display: flex;
  padding: 10px;
}

.GlobalTableRowTr {
  height: 55px !important;
  padding-left: 10px !important;
  padding-right: 10px !important;
 
}
.tr1{
  background-color: #e7f2fc !important;
}

.GlobalTableRowTr td{
  border: 1px solid #f0efef !important;
  position: relative;
}
.globalTableRowHeadWrapper .globalTableRow {
  display: flex;
}
.btn-primary{
  margin-bottom: 15px;
  margin-top: 15px;
}
#checboxTd{
  border-color: white !important;
}
/* Table Css */
.headerLayer{
  width: 100%;
  height: 300xp;
  background-color: #1eb7ff;
  z-index: 9999;
}
.contactCard{
  width: 70%;
  height: 400px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 2px #cdcdcd;
  padding:10px
}
.contactCardProfile{
  width: 80px;
  height: 80px;
  border:2px solid black;
  border-radius: 100px;
  background-color: #1eb7ff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
}
.first_name{
  font-weight: 600;
  font-size: 17px;
  margin-top: 10px;
}
.last_name{
  font-weight: 500;
  font-size: 12px;
}
.contactCardWrapper{  
  justify-content: center;
}
.cardContactLabel{
  margin-left:10px;
  font-weight: 700;
  color: #0e76a7;
  font-size: 12px;
}
.cardContactLabelValue{
  margin-left:10px;
  font-size: 12px;
  font-weight: 500;
  color: #0e76a7;
}
.deatilRows{
  border-bottom: 1px solid #cdcdcd;
  margin-left: 10px;
  margin-right: 10px;
}
.deatilRows .col-sm-5, .deatilRows .col-sm-6{
  padding:0px
}
.hitoryTreeWrapper{
  width: fit-content;
  height: 100%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  margin-bottom: 30px;
}
.hitoryTreeWrapper div{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative; 
}
.hitoryTreeCircelItem{
  min-width: 100px;
  min-height: 40px;
  border:2px solid black;
  background-color: #1eb7ff;
  border-radius: 100px;
  z-index: 2;
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 12px;
  font-weight: 700;
  color: #fff;
  padding: 10px;
}
.hitoryTreeCircelItemVr{
  width: 2px;
  height: 100px;
  background-color: #222;
  border-radius: 10px;
  z-index: 1;
}
.statusDetail{
  background-color: rgb(167, 167, 25);
  color: #e7f2fc;
  font-size: 12px;
  padding-left: 10px;
  padding-right: 10px;
  height: 30px;
  border-radius: 10px;
  z-index: 8888;
  top: -5px;
  display: flex;
  width: 100%;
  margin-bottom: 5px;
  font-weight: 700;
  position: absolute;
}

/* Switch Control */
.switch {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 24px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(23px);
  -ms-transform: translateX(23px);
  transform: translateX(23px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.autoSwitch{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 70%;
}
.autoSwitch span{
  font-size: 13px;
  font-weight: 800;
  color: #222;
}
/* Chat Screen */
.chatBoxWrapperMain{
  padding-right: 0px;
}
.chatBoxWrapperMain .col-sm-3{
  padding-right: 0px !important;
}
.chatBoxWrapperMain .col-sm-9{
  padding-right: 0px ;
  padding-left: 0px ;
}
.contactsSideBar{
  width: 100%;
  height: 750px;
  background-color: #f0efef;
  border-right: 1px solid #4f53681f;
}
.chatBoxHeader{
  width: 100%;
  background-color: #fff;
  height: 60px;
  padding-left: 10px;
  display: flex;
  align-items: center;
}
.chatBoxBody{
  width: 100%;
  height: 690px;
  background-color: #bfc0c781;
  position: relative;
  overflow: hidden;
}
.contactsSideBarHeader{
  width: 100%;
  background-color: #fff;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.contactsSideBarSearch{
  width: 100%;
  height: 40px;
  border:1px solid #4f53682d;
  border-radius: 5px;
  background-color: transparent !important;
  background: transparent;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;

}
.contactsSideBarSearch input{
  background-color: transparent !important;
  background: transparent;
  border:0px;
  width: 90%;
  color: #4f5368;
  font-size: 13px;
}
.contactUserBox{
  width: 100%;
  height: 70px;
  border-bottom: 1px solid #4f536815;
  display: flex;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
}
.contactUserBox:hover{
  background-color: #4f536815;
}
.contactBoxUserdetailWrapper{
  width: 73%;
}
.contactBoxProfile{
  width: 50px;
  height: 50px;
  border-radius: 100px;
  margin-right: 10px;
  background-image: url('../assets/profile.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border:1px solid #cdcdcd
}
.contactBoxUserName{
  font-size: 14px;
  font-weight: 600;
}
.contactBoxUserNameWrapper{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.contactBoxLastText{
  font-size: 12px;
  top:2px;
  position: relative;
}
.contactBoxTimeText{
  font-size: 10px;
  text-align: end;
}
.chatTypeBoxWrapper{
  height: 70px;
  width: 100%;
  background-color: #a1a5b160;
  position: absolute;
  bottom:10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding:20px
}
.chatTypeBoxWrapper .icon{
  font-size: 25px;
  color: #222;
  margin-right: 10px;
}
.chatTypeBoxWrapper .textField{
  width: 90%;
  height: 40px;
  background-color: #b0abad;
  border-radius: 100px;
  padding:5px 15px;
  overflow: hidden;
}
.chatTypeBoxWrapper .textField input{
  width: 100%;
  height: 100%;
  background-color:transparent;
  border:0px
}
.Sendbtn{
  width: 40px;
  height: 40px;
  background-color: #1eb7ff;
  color: #fff;
  font-size: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  margin-left:2px;
  cursor: pointer;
}
.messagesWrapper{
  padding:10px;
  flex-direction: column;
  height: 610px;
  display: flex;
  overflow: scroll;
}
.recievedMessage{
  max-width: 400px;
  width: fit-content;
  min-height: 40px;
  background-color: #10a5eb;
  border-radius: 100px;
  border-top-left-radius: 0px;
  padding: 10px;
  color: #fff;
  font-size: 13px;
  margin-bottom: 15px;
  clear: both;
}
.sendMessage{
  max-width: 400px;
  width: fit-content;
  min-height: 40px;
  background-color: #67666ab2;
  border-radius: 100px;
  border-top-right-radius: 0px;
  padding: 10px;
  color: #fff;
  font-size: 13px;
  float: right;
  clear: both;
  margin-bottom: 15px;
}
.TabsWrapper{
  width: 100%;
  background-color: #fff;
  height: 70%;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.TabsItemActive{
  width: 33%;
  height: 100%;
  background-color: #51aaea;
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 13px;
  color: #fff;
  cursor: pointer;
  font-weight: 600;
}
.TabsItemNotActive{
  width: 33.3%;
  cursor: pointer;
  height: 100%;
  background-color: #cdcdcd80;
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 13px;
  border:1px solid #cdcdcd8e;
}
.TabsItemNotActive:hover{
  background-color: #a5a2a2b7;
}