@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:wght@600;700&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
@media only screen and (max-width: 500px) {
  .loginPagelogo {
    display: none;
  }
  .adminDashboardReportWrapper {
    margin-bottom: 10px;
  }
  .loginBtn {
    font-size: 13px !important;
  }
  .headerContentwrapper .row .col-sm-9,
  .headerContentwrapper .row .col-sm-2 {
    width: 50% !important;
  }
  .sideNav{
    position: absolute;
    z-index: 999;
  }
  .closeNavBtn{
    display: block !important;
  }
  .sideNavInActive {
   width: 0% !important;
   padding: 0px !important;
   overflow: hidden;
   transition: 0.5s ease-in-out;
  }
}
